doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		<!-- style sheet! -->
		link(href="bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Ubuntu:300", rel="stylesheet")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css")
		link(href="bootstrap/css/customized/global.css", rel="stylesheet")
		link(href="bootstrap/css/customized/customized.css", rel="stylesheet")
		link(rel="stylesheet",
		href="https://use.fontawesome.com/releases/v5.5.0/css/all.css",
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU",
		crossorigin="anonymous")

		<!-- scripts -->
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://www.gstatic.com/charts/loader.js")
		script(src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js")
		script(src="bootstrap/js/bootstrap.min.js")
		script(src="https://d3js.org/d3.v2.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js")
		
		<!-- customized scripts -->
		script(src="bootstrap/js/jquery.csv.js")
		script(src="bootstrap/js/customized/analyses/view.js")
		script(src="bootstrap/js/customized/warning_trigger.js")
		script(src="bootstrap/js/customized/modal_overlay.js")
		script(src="bootstrap/js/customized/parse_session.js")
	body
		include ../components/topbar.pug
		include ../components/export.pug
		include ../components/terminate.pug
		include ../components/warning.pug
		include ../components/clientside-warning.pug
		include ../components/cookie.pug
		include ../components/reddit-expand.pug
		include ../components/image-crawler
		include ../components/aws-batch.pug
		include ../components/tag.pug
		include ../components/clowder.pug
		include ../components/import.pug
		include ../components/uuid.pug
			
		div(class="container-fluid")
				<!-- side bar -->
				div(class="col-sm-3 col-md-3 sidebar")
					ul(class="nav nav-sidebar")
						li 
							a
								i(class="fas fa-tasks")
								| &nbsp;Overview
							ul(class="nav child_menu" style="display:block;")
								li
									a(href="#config-anchor")
										i(class="fas fa-wrench")
										| &nbsp;Setting
								li
									a(href="#img-anchor")
										i(class="fas fa-images")
										| &nbsp;Chart
								li
									a(href="#result-anchor")
										i(class="fas fa-poll")
										| &nbsp;Result Preview
						li 
							a
								i(class="fas fa-toolbox")
								| &nbsp;Features
							ul(class="nav child_menu" style="display:block;")
								li
									a(href="", id="tag-left-panel")
										i(class="fas fa-tag")
										| &nbsp;Tag the Results
								li
									a(href="", id="clowder-left-panel")
										img(src="bootstrap/img/logo/clowder-sm-logo.png", width=20)
										| &nbsp;Export to Clowder
								li
									a(href="", id="getComment", style="display:none;")
										i(class="fas fa-comments")
										| &nbsp;Collect Comments
								li
									a(href="", id="getImg", style="display:none;")
										i(class="fas fa-image")
										| &nbsp;Collect images
						li(id='side-download-li', style="display:none;") 
							a(id="side-download-head")
								i(class="fas fa-download")
								| &nbsp;Download
							ul(class="nav child_menu", style="display:block;", id="side-download")
								
		
		div(class="container-fluid")
			div(class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main")
					div(class="row")
						div(class="col-md-12 col-sm-12 col-xs-12")
							h1 #{title}
							p(class="intro") Analytics Tools > #{title}
							p(class="intro") !{introduction}
								a(href=wiki, target="_blank") &nbsp;Learn More >
					div(class="row")
						div(class="col-md-12 col-sm-12 col-xs-12")
							a(class="anchor" name="config-anchor")
								
							<!-- setting area -->							
							div(class="x_panel")
								div(class="x_title")
									h2 Configuration
								div(class="x_content")
									block config-form
						
					div(class="loading", style="display:none;")
						img(src="bootstrap/img/gifs/loading.gif", width="400", height="400px",style="display:block; margin:auto;")
						h4(style="text-align:center;")
							i For large dataset, the computation might take a few minutes. Thank you for your patience.
							
						
					<!-- img -->
					div(class="row")
						div(class="col-md-12 col-sm-12 col-xs-12")
							a(class="anchor" name="img-anchor")
							div(id="img-container")
						div(class="col-md-12 col-sm-12 col-xs-12")
							div(id="gaudge")
								
					<!-- result -->
					div(class="row")
						div(class="col-md-12 col-sm-12 col-xs-12")
							a(class="anchor" name="result-anchor")
							div(id="result-container")
			
									
		block customized-script
		script(src="bootstrap/js/customized/detect_cookie.js").				
		script(src="bootstrap/js/customized/hotkeys.js").				
		
		
							
		
				
							
							
							
							
							
							
							
							
							
							
							
							
