doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        <!-- Style sheets! -->
        link(href="bootstrap/css/bootstrap.min.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Ubuntu:300", rel="stylesheet")
        link(href="bootstrap/css/bootstrap-multiselect.css", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css", rel="stylesheet")
        link(href="jQuery-QueryBuilder-master/dist/css/re_query-builder.default.css", rel="stylesheet")
        link(rel="stylesheet",
            href="https://use.fontawesome.com/releases/v5.0.10/css/all.css",
            integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg",
            crossorigin="anonymous")
        link(href="bootstrap/css/customized/auth.css", rel="stylesheet")
        link(href="bootstrap/css/customized/search.css", rel="stylesheet")
        link(href="bootstrap/css/customized/global.css", rel="stylesheet")

        <!-- JQUERY -->
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="bootstrap/js/bootstrap.min.js")
        script(src="bootstrap/js/bootstrap-multiselect.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js")

        <!-- Tooltip -->
        script(src="bootstrap/js/popper.js")

        <!-- customized -->
        script(src="bootstrap/js/customized/query_pb.js")
        script(src="bootstrap/js/customized/query_formValid.js")
        script(src="bootstrap/js/customized/query_submit.js")
        script(src="bootstrap/js/customized/warning_trigger.js")
        script(src="bootstrap/js/customized/modal_overlay.js")
        script(src="jQuery-QueryBuilder-master/dist/js/re_query-builder.standalone.js")
        script(src="bootstrap/js/customized/parse_session.js")
    body(onload="init();")
        <!-- top bar -->
        include ../components/topbar.pug
        include ../components/export.pug
        include ../components/terminate.pug
        include ../components/warning.pug
        include ../components/clientside-warning.pug
        include ../components/cookie.pug
        include auth.pug

        div(class="searchPage",id="searchPage",style="display:none;")
            <!-- logo -->
            div(class="row" id="header",style="")
                img(src="bootstrap/img/logo/queryPage-logo.png",width="500px",style="display:block;margin:auto auto;")
            div(class="citation-notice")
                button(class="close") &times;
                p Due to issues with receiving a consistent stream of data from Twitter's API, our historical streamed
                    |  Twitter search/database has been deprecated. Please use the remaining Twitter non-historical
                    |  search feature or connection to services such as Crimson Hexagon.

            <!-- secondary auth panel -->
            div(class="row", id="second-auth",style="display:block;margin:auto auto;margin-top:50px;text-align:center;color:#333;")
                div(id="unauthorized", style="display:inline-block;")
                    p(style="display:inline-block;margin:10px 10px;") Click the icon to authorize:
                    div(class="twitter-auth",style="display:inline-block;")
                        a(target="_blank", href="login/twitter")
                            img(src='bootstrap/img/logo/twitter-sm-logo.png', width="30px",height="30px", style="margin-right:10px")
                    div(class="reddit-auth",style="display:inline-block;")
                        a
                            img(src='bootstrap/img/logo/reddit-sm-logo.png', width="30px",height="30px", style="margin-right:10px")
                    div(class="crimson-auth",style="display:inline-block;")
                        button(id="crimson-icon-button")
                            img(src='bootstrap/img/logo/crimson-sm-logo.png', width="35px",height="30px", style="margin-right:10px")
                div(id="authorized",style="display:inline-block;")
                    p(style="display:inline-block;margin:10px 10px;") You have already authorized:
                    img(id="twitter-authorized", src='bootstrap/img/logo/twitter-sm-logo.png', width="30px",height="30px", style="margin-right:10px;display:none;")
                    img(id="reddit-authorized",src='bootstrap/img/logo/reddit-sm-logo.png', width="30px",height="30px", style="margin-right:10px;display:none;")
                    img(id="crimson-authorized",src='bootstrap/img/logo/crimson-sm-logo.png', width="35px",height="30px", style="margin-right:10px;display:none;")

            <!-- search --->
            div(class="row")
                div(id="tabs")
                    boolean(data-toggle="tooltip", data-placement="top", data-html="true")
                    select(class="selectpicker show-tick" id="social-media" title="Choose a Data Source..." data-width="220px")
                        optgroup(label="Search Twitter")
                            option(data-icon="fab fa-twitter" value="queryTweet" disabled) Tweets
                            option(data-icon="fas fa-user" value="getTimeline" disabled) User timeline
                        optgroup(label="Search Reddit")
                            option(data-icon="fab fa-reddit-alien" value="queryReddit" disabled) Search Reddit Posts
                            option(data-icon="fas fa-list-ul" value="redditPost" disabled) Posts in Subreddit
                            option(data-icon="far fa-comment" value="redditComment" disabled) Comments in Subreddit
                        optgroup(label="Partial Historical Database")
                            option(data-icon="fab fa-reddit-square" value="pushshiftPost") Historical Reddit Posts
                            option(data-icon="fas fa-comment-dots" value="pushshiftComment") Historical Reddit Comments
                            option(data-icon="fas fa-share-alt" value="crimsonHexagon" disabled) Crimson Hexagon
                    include searchbox.pug

            div(id="save-result")
                h2 Save the result&nbsp;
                    i(class="far fa-question-circle", data-toggle="tooltip", data-html="true", data-placement="right",
                    title="Your results will be saved as a CSV file on SMILE across sessions. You can download the <u>CSV file</u>, " +
                    " analyze it with the <u>analytics tools</u> in SMILE, review and download in the <u>Past Results</u> page")
                p Save this search result to this application to further analyze it.
                div(class="form-group")
                    h4 Filename
                    input(class="form-control" id="sn-filename" placeholder="filename without file extension")
                    button(class="btn btn-yes", id="saveButton" disabled=true) Save
            div(class="loading")
                img(src="bootstrap/img/gifs/loading2.gif")

            div(id="instruction")
                h2 Download and Analyze
                p Your search results are successfully saved by the applicatoin. You can now:
                ol
                    li Download a CSV file
                        a(class="btn btn-primary", id="download") Download
                        a(class="btn btn-primary", id="download-json", style="display:none;") Download Json Format
                    li Analyze with Analytics Tools
                        a(class="btn btn-primary", href="NER") Analyze
                    li Review and manage in the Past Results
                        a(class="btn btn-primary", href="history") Review

            div(id="histogram-panel")
                h2 Recap
                label(class="radio-inline")
                    input(name="histogram-interval", type="radio", class="histogram-interval", value="1T")
                    | per minute
                label(class="radio-inline")
                    input(name="histogram-interval", type="radio", class="histogram-interval", value="1H")
                    | per hour
                label(class="radio-inline")
                    input(name="histogram-interval", type="radio", class="histogram-interval", value="6H")
                    | per 6 hours
                label(class="radio-inline")
                    input(name="histogram-interval", type="radio", class="histogram-interval", value="1D")
                    | per day
                label(class="radio-inline")
                    input(name="histogram-interval", type="radio", class="histogram-interval", value="1W")
                    | per week
                label(class="radio-inline")
                    input(name="histogram-interval", type="radio", class="histogram-interval", value="1M")
                    | per month
                label(class="radio-inline")
                    input(name="histogram-interval", type="radio", class="histogram-interval", value="1Q")
                    | per quarter
                label(class="radio-inline")
                    input(name="histogram-interval", type="radio", class="histogram-interval", value="6M")
                    | per 6 months
                label(class="radio-inline")
                    input(name="histogram-interval", type="radio", class="histogram-interval", value="1A")
                    | per year
                div(class="loading", style="display:none;")
                    img(src="bootstrap/img/gifs/loading3.gif", width="400px", style="display:block;margin:auto auto;")
                div(id="img-container", style="padding:50px 100px;")
            div(id="rendering")
                h2 Preview
                div(style="text-align:right;margin-right:50px;")
                    button(class="btn btn-no", onclick="renderPreviewPagination('prev');",
                    style="margin-right:10px; display:none;")
                        i(class="fas fa-chevron-left")
                        | &nbsp;Prev
                    button(class="btn btn-no", onclick="renderPreviewPagination('next');",
                    style="margin-right:10px; display:none;")
                        i(class="fas fa-chevron-right")
                        | &nbsp;Next
                div(id="grid")

        include crimson/crimson-login.pug
        include twitter/twitter-login.pug
        include reddit/reddit-login.pug

        <!-- side bar HELP-->
        div(class="documentation",id="documentation")
            iframe(id="docIframe", src="graphql-doc/schema/index.html",width="100%",scrolling="yes",style="padding-top: 40px;margin:0 0;")


        script(src="bootstrap/js/customized/query_auth.js")
        script(src="bootstrap/js/customized/detect_cookie.js")
        script(src="bootstrap/js/customized/hotkeys.js").
