#auth-panel{
    background-color:#9d9d9d;
    padding:50px;
    width:850px;
    margin:200px auto;
    border-radius:6px;
    overflow: auto;
}

.auth-header{
    font-size:50px;
    color:#ffffff;
}

.auth-description{
    color:#ffffff;
}

.auth-button{
    font-weight: 600;
    color: white;
    font-size: 20px;
    background-color:#1e325a;
    border-radius: 6px;
    padding: 0.6em 1.6em;
    margin: 10px 0;
    text-decoration: none;
    text-align: left;
    border: none;
}

.auth-button img{
    margin:0 10px;
}

#auth-next{
    font-weight: 600;
    color: #333;
    font-size: 20px;
    line-height: 28.8px;
    background-color:#eee;
    border-radius: 6px;
    padding: 0.6em 1.6em;
    margin: 10px 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: none;
}
.button:hover,
.button:focus,
#auth-next:hover,
.auth-button:hover{
    color:black;
    background-color:#deddde;
}

#crimson-icon-button{
    border:none;
    background:none;
    padding:0;
}
#crimson-icon-button:focus{
    outline:none;
}

/* login popup */
#crimson-username,
#crimson-password,
#twitter-pin{
    margin-top:10px;
    width:500px;
    margin-left:10px;
    vertical-align:baseline;
}

.login-notes{
    margin: 20px auto 20px auto;
}
.login-notes p{
    display:inline;
    color:#ea4937;
}
.login-notes a{
    margin-left:5px;
    text-decoration:underline
}

.login-header h2{
    display: inline;
    vertical-align: middle;
    margin-left: 10px;
}
