body {
	padding-top: 50px;
    font-family: "Ubuntu", sans-serif;
    color: #73879c;
    background-color: #eae8e8;
}

.row{
	background-color: #eae8e8;
	margin-bottom:-1px;
}

.navbar-fixed-top {
	border: 0;
}


.sidebar {
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background-color: #2a5a84;
	border-right: 1px solid #eee;
}

.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus{
	color:#333;
}


.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
	color:#fff;
	margin-bottom:1px;
}

#side-download-head{
	animation:blink-animation 1500ms infinite;
}


@-webkit-keyframes blink-animation{
  0% { background-color: #73879c; -webkit-box-shadow: 0 0 3px #428bca; }
  50% { background-color: #5492c7; -webkit-box-shadow: 0 0 40px #5492c7; }
  100% { background-color: #6ba1d0; -webkit-box-shadow: 0 0 3px #6ba1d0;}
}

@-moz-keyframes blink-animation{
  0% { background-color:#73879c; -webkit-box-shadow: 0 0 3px #428bca; }
  50% { background-color: #5492c7; -webkit-box-shadow: 0 0 40px #5492c7; }
  100% { background-color: #6ba1d0; -webkit-box-shadow: 0 0 3px #6ba1d0;}
}

/* child */
.nav .child_menu>li{
	padding-left: 50px;
}
.nav.child_menu >li>a{
	color:#ffffff;
	margin-bottom:1px;
}
.nav.child_menu >li>a:hover,
.nav.child_menu >li>a:active,
.nav.child_menu >li>a:focus{
	color:#333;
	background-color:#eae8e8;
}

/* Main content	*/
.main {
	padding: 50px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 50px;
		padding-left: 50px;
	}
}

h3 {
	text-align: center;
}

#analytics-config h4{
    color: #1e325a;
    font-weight: 600;
    margin: 35px 0;
    font-size:20px;
}

@media (max-width: 768px) {
    .form-group label{font-size: 8px;}
}

@media (max-width: 992px) {
    .form-group label{font-size: 10px;}
}

.form-group label{
    font-size: 1.2em;
	font-family: "Ubuntu", sans-serif;
	text-align:left;
    padding-right:15px;
}

/* import form */
.form-group{
	overflow:auto;
	margin-right:0;
	margin-left:0;
	margin-bottom:15px;
}
#import-fname{
	display:inline-block;
	margin:0px 20px;
}

#import-cloud-btn{
	display:none;
	vertical-align: middle;
}
#import-cloud-btn:hover{
	color:black;
}

#datasrc-criteria-hint{
	color:#418bca;
	font-style:italic;
	font-size:12px;
}

#datasrc-criteria{
	color:red;
	font-style:italic;
}

#datasrc-analyses{
	font-size:12px;
	color:black;
}

#userspec-Others-metadata{
	padding: 20px;
	border: dashed 2px;
	margin: 20px;
}

.or {
	display:flex;
	justify-content:center;
	align-items: center;
	color:grey;
	font-weight: bolder;
}
.or:after,
.or:before {
	content: "";
	display: block;
	background: grey;
	width: 100%;
	height:2px;
	margin: 10px;
}

.btn.btn-default.btn-file{
	border-radius:5px;
	color:black;
	background:white;
	border:1px #2a5a84 solid;
}

a.anchor{
	display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.btn:focus,
.btn:hover,
.btn:active{
	outline: none !important;
	color:black;
	background-color:#eae8e8;
}

.preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;
    color: #fff;
    background-color: #428bca;
    border-color: #eee;
}

/* radio button */
.customized-radio:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #d1d3d1;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
	}

.customized-radio:checked:after,
.customized-radio:hover:after{
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #c84b49;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

th {
	background-color:#428bca;
	color:#fff;
}

tr{
	background-color:#fff;
}

.range {
    display: table;
    position: relative;
    height: 25px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: #c84b49;
}
.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}
.range.range-node output {
    background-color: #c84b49;
}
.range.range-node input[type="range"] {
    background-color: #bed2e4;
}
.range.range-edge output {
    background-color:#428bca;
}
.range.range-edge input[type="range"] {
    background-color: #efc9c8;
}
.intro {
    padding-top: 5px;
    padding-right: 30px;
	padding-left: 30px;
    padding-bottom: 5px;
	font-size: 18px;
}

.col-md-4:not(:last-child) {
    border-right: 1px solid #ccc;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.historyTabs{
	cursor: pointer;
}

/**********history page download ****************/
.link-button-download{
	background:none;
	border:none;
	color:#ea4a36;
	border-bottom:1px solid #ea4a36;
}
.link-button-download:hover{
	background:none;
	border:none;
	color:#2a5a84;
	border-bottom:1px solid #2a5a84;
}

/**********text classification page******************/
#task{
	background-color:#2a5a84;
	color:white;
}

#labeled{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.favicon-button{
	display:none;
	margin:0px 5px;
}

#intermediate-download a {
	text-decoration: underline
}
/*******************clowder modal***********************/
.control-group{
	margin:20px auto;
}

#datasetAdvancedBtn{
	margin-left: 5px;
	font-size: 12px;
	background-color: #eee;
	padding: 5px;
	border-radius: 5px;
}

/* data table */
.dataTables_length{
    float:right;
}

.dataTables_filter{
    float:right;
}
