/*Top bars*/
.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-size:14px;
}

#topbar-analytics{
	font-size:14px;
	display:inline-block;
	margin:10px 10px;
}
#topbar-analytics-btn{
	padding:6px 30px;
	color:white;
	background-color:#1e325a;
	border:none;
}

#topbar-hub{
	font-size:14px;
	color:white;
	margin: 10px 10px;
	border-radius: 10px;
	border: 1px solid #e94a36;
	padding: 6px 20px;
}

#topbar-history,
#topbar-query{
	font-size:14px;
	color:white;
	margin:10px 0px;
	padding:6px 20px;
}

.page-title{
	margin-bottom:5px;
	font-weight:600;
}

.list-container{
	margin-top:0;
	margin-left:30px; 
	margin-bottom:26px;
	font-size:small;
	line-height:1.2;
	text-align:left;
}

cite{
	color:#006621;
}

#comment{
	resize:none;
}

#error{
	resize:none;
}

/* top bar */
.navbar-fixed-top {
	border: 0;
}

.navbar-inverse{
	background-color:#1e325a;
}

/* footer */
.footer-bs {
	background-color: #1e325a;
	padding: 20px;
	color: #f5f6f8;
	text-align: center;
	font-size: 14px;
}

@media (min-width: 768px) {
	.footer-bs{ border-left:solid 1px rgba(255,255,255,0.10); }
}

.citation-notice{
    position: relative;
    padding: 30px;
    background-color: #1e325a;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    line-height:28px;
	animation: slide 0.5s 1s ease-in-out both;
	margin:auto auto;
	max-width:800px;
}
.citation-notice ul li a,
.citation-notice ul li a:hover,
.citation-notice ul li a:focus{
	color:white;
    text-decoration: underline;
}

/*-----------modals-----------------------------*/
.modal-body.form{
	vertical-align:middle;
	margin-left:20px; 
	margin-right:20px;
	overflow:auto;
	font-size:15px;
}

.modal-body.confirmation{
	vertical-align:middle;
	margin-left:20px;
	margin-right:20px;
	overflow:auto;
	font-size:30px;
}

.modal-body.export{
	text-align:left;
	vertical-align:middle;
	overflow:auto;
	padding:20px 50px;
	font-size:20px;
}

.btn.btn-yes{
	background-color:#ea4a36;
	color:white;
	border-style:hidden;
}

.btn.btn-no{
	background-color:#1e325a;
	color:white;
	border-style:hidden;
}

.btn.btn-link{
	background:none;
	color:white;
}
.btn.btn-link:hover,
.btn.btn-link:focus{
	background:none;
	color: #d3d3d3;
}

.export-auth-btn{
	display:inline-block;
	margin:15px;
	background-color:#ddd;
	padding:5px 30px;
	border-radius:5px;
	color:black;
	box-shadow:6px 6px 5px #888888;
}

.export-btn{
	display:none;
}

.auth-code{
	display:none;
	margin:15px;
	width:calc(90%)
}

button:focus{
	outline:none;
}

.fa,.far,.fas{
	margin:0 2px;
}

/* tooltips */
.tooltip-inner{
	text-align: left;
	padding: 20px;
	max-width: 400px;
}
